<div class=row nogutter>
<img src="http://emergencylocksmithsanfrancisco.com/wp-content/uploads/2013/03/skyline.png" class=img-responsive>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>About us</h1>
	</div>
	<div class="panel-body">
		<p class="lead">We are working on our One Month Rails Pinteresting app!  We're also learning how to do all kinds of crazy stuff in ruby on rails so we can hack together some wonky prototypes.  Meanwhile, we're also watching silly 80's movies starring Arnold Schwarznegger.</p>
		<h2 bold>Founders</h2>
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class="media-object img-circle" src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/10561561_10102484760926015_798387499557968626_n.jpg?oh=7d9e950bd8d9459a7c8635e0aa3558e9&oe=562FCDC6" height="150" width="150">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Derek Osgood</h4>
		    <p class="media-body limit">General purveyor of shenanigans with a penchant for causing a ruckus via accidentally misinterpretting "pinning" and actually pinning things to people.</p>
		  </div>
		</div>
		<h1></h1>
		  <div class="media-body">
		    <h4 class="media-heading text-right">Bill Brasky</h4>
		    <p class="media-body-right">A 10-foot mountain of a man who showers in vodka and feeds his baby shrimp scampi.</p>
		  </div>
		  	<div class="media-right media-middle">
		    <a href="#">
		      <img class="media-object img-circle" src="http://www.golfwrx.com/forums/uploads/profile/photo-92243.jpg?_r=1431982712" height="150" width="150">
		    </a>
		  </div>
		 <h1></h1>
		 <div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class="media-object img-circle" src="http://www.athletepromotions.com/blog/wp-content/uploads/2014/01/Brett-favre.jpg" height="150" width="150">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading">Brett Favre</h4>
		    <p class="media-body limit">Legend.  Gunslinger.  Lord of Wrangler Jeans.  Throws a football a country mile.  Eats bald eagles for breakfast.</p>
		  </div>
		</div>
		</div>
	<div class="panel-body center"
	<p><%= link_to "Email us for more info", "mailto:osgood.derek@gmail.com", class: "btn btn-success btn-lg" %></p>
</div>
	</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>What we're about...</h1>
	</div>
		  <div class="embed-responsive embed-responsive-16by9">
			  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZTidn2dBYbY"></iframe>
			</div>
		</div>
	</div>
</div>
</div>
